<!DOCTYPE html>
<html>
<title>Welcome to Alpha_Blog</title>
<body style="background-color:powderblue;">

<h1>Home Page</h1>
<p>This is a the home page of my Alpha-Blog.</p>
<%= link_to 'Alpha_Blog', articles_path %> | <%= link_to 'About', about_path %>
</body>
</html>

